Repository spacetelescope/acstools, pull requests merged in 2019-06, with the labels that each got.

#92 TST: Change Jenkins container
  Jenkinsfile
  acstools/acs_destripe_plus.py
  setup.cfg
Labels: testing

#95 Azure setup
  Jenkinsfile
  azure-pipelines.yml
Labels: enhancement, testing

#96 Add Azure badge
  README.rst
Labels: enhancement, testing

#98 Use pkg_resources to describe version
  .gitignore
  MANIFEST.in
  acstools/__init__.py
Labels: bug
