Repository spacetelescope/acstools, pull requests merged in 2020-04, with the labels that each got.

#119 Standardizes the SM4 MJD date and updates affected modules
  acstools/acs_destripe.py
  acstools/acs_destripe_plus.py
  acstools/utils_calib.py
  doc/source/acs_destripe.rst
  doc/source/acs_destripe_plus.rst
Labels: enhancement

#117 [quickfix] acsphotcte
  acstools/acsphotcte.py
Labels: bug

#120 ENH: Enable CRREJ on acs_destripe_plus products, keep tmp files
  acstools/acs_destripe_plus.py
  doc/source/acs_destripe_plus.rst
Labels: enhancement

#122 DOC: Improve layout
  doc/source/acs2d.rst
  doc/source/acs_destripe.rst
  doc/source/acs_destripe_plus.rst
  doc/source/acsccd.rst
  doc/source/acscte.rst
  doc/source/acscteforwardmodel.rst
  doc/source/acsphotcte.rst
  doc/source/acsrej.rst
  doc/source/acssum.rst
  doc/source/acszpt.rst
  doc/source/calacs.rst
  doc/source/calacs_hstcal.rst
  doc/source/conf.py
  doc/source/index.rst
  doc/source/satdet.rst
  doc/source/utils_calib.rst
Labels: docs, enhancement

#124 MNT: Use bitmask from astropy>=3.1
  acstools/acs_destripe.py
  acstools/acs_destripe_plus.py
  setup.cfg
Labels: enhancement
