Repository spacetelescope/acstools, pull requests merged in 2023-05, with the labels that each got.

#176 incorporate findsat_mrt into acstools
  acstools/__init__.py
  acstools/data/rt_line_kernel_width15.fits
  acstools/data/rt_line_kernel_width3.fits
  acstools/data/rt_line_kernel_width7.fits
  acstools/findsat_mrt.py
  acstools/satdet.py
  acstools/tests/data/input/jc8m32j5q_flc.fits
  acstools/tests/data/truth/jc8m32j5q_flc_mask_ref.fits
  acstools/tests/test_wfc_findsat_mrt.py
  acstools/tests/test_wfc_satdet.py
  acstools/utils_findsat_mrt.py
  doc/source/conf.py
  doc/source/findsat_mrt.rst
  doc/source/index.rst
  setup.cfg
Labels: docs, Satellite Detection

#177 Update to the skimage.morphology.remove_small_objects() function in satdet.py.
  acstools/satdet.py
Labels: Satellite Detection

#178 Minor doc updates
  acstools/acscte.py
  acstools/acscteforwardmodel.py
  acstools/acsphotcte.py
  acstools/acszpt.py
  acstools/satdet.py
  doc/source/calacs.rst
  doc/source/index.rst
Labels: docs, CALACS, CTE, Satellite Detection, Zeropoints
